<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Search Movie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar 
    placeholder="Search Movie" 
    animated
    [value]="searchText" 
    (ionChange)="onSearchChange($event)" 
    [debounce]="300" 
    ></ion-searchbar>
</ion-toolbar>



<ion-content>

  <ion-grid fixed>
    <ion-row *ngIf="showSpinner">
      <ion-col class="ion-text-center"><ion-spinner name="crescent"></ion-spinner></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="results.length === 0">

    <ion-list-header>
      <ion-label>Top Search</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let text of topSearch">
      <ion-label
        (click)="searchText = text"
        color="primary">{{  text  }}</ion-label>
    </ion-item>

  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let result of results">
        <ion-card (click)="showDetails(result.id)">
          <img [src]="result.poster_path | imagen" [alt]="result.title">
          <ion-card-header>
            <ion-card-subtitle>{{  result.release_date  }}</ion-card-subtitle>
            <ion-card-title>{{  result.title  }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
